@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sora: "Sora", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.glassmorphism-menu {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
}

.overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) calc((50vw - 170px) - 340px), rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.1) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.overlay-content {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) calc((50vw - 170px) - 340px), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@layer base {
    body {
        @apply font-sora;
    }
}

@layer components {
    .container {
        @apply max-w-[77.5rem] mx-auto px-5 md:px-10 lg:px-15 xl:max-w-[87.5rem];
    }

    .h1 {
        @apply font-semibold text-[2.75rem] leading-[3.25rem] md:text-[3rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem];
    }

    .h2 {
        @apply font-bold text-[2.5rem] leading-[3rem] sm:text-[3rem] sm:leading-[3.5rem] lg:text-[3.25rem] lg:leading-tight;
    }

    .button {
        @apply font-code font-bold tracking-wider;
    }
}

@layer utilities {
    .padding-x {
        @apply lg:px-14 md:px-8 px-6;
    }

    .padding-y {
        @apply lg:py-16 py-14;
    }

    .text-button {
        @apply md:min-w-48 sm:min-w-40 min-w-36 text-slate-zinc;
    }

    .sub-text {
        @apply font-semibold mx-auto text-[1rem] sm:text-[1.15rem] md:text-[1.25rem] leading-7;
    }
}

@media screen and (max-width: 1024px) {
    .overlay {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) calc((50vw - 120px) - 300px), rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.1) 100%);
    }

    .overlay-content {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) calc((50vw - 120px) - 300px), rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
    }
}